<!-- 投稿後の詳細画面books/id  -->

<div class="container-fluid m-4">
  <div class="row">
    <div class="col-3" id="sticky-sidebar">
     <!-- サイドバー  -->
     <%= render 'users/said', user: @user %>
     <%= render 'books/said', book: @book_new %>
    </div>
    <div class="col-2"></div>
    <!--投稿一覧画面-->
    <div class="col-7">
    <h2>Book detail</h2>
     <table class="table">
     <tbody>
       <tr>
         <td><%= attachment_image_tag @book.user, :profile_image, size:'50x50',fallback: "no_image.jpg" %></br>
         <%= link_to @book.user.name, user_path %></td>
         <td><%= link_to @book.title, book_path(@book) %></td>
         <td><%= @book.body %></td>
         <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
         <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか？' } %></td>
       </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
</div>
