<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/259ce38388.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Bookers</a>
        </div>
    <ul class="nav navbar-expand-sm navbar-right ">
      <% if user_signed_in? %>
      <li class="mx-2"><%= link_to "Home", user_path(current_user.id), class:"fas fa-home", :style=>"color:white;" %></li>
      <li class="mx-2"><%= link_to "Users", "/users", class:"fas fa-users", :style=>"color:white;" %></li>
      <li class="mx-2"><%= link_to "Books", "/books", class:"fas fa-book-open", :style=>"color:white;"  %></li>
      <li class="mx-2"><%= link_to "logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt", :style=>"color:white;"  %></li>
    <% else %>
      <li class="mx-2"><%= link_to "Home", "/", class:"fas fa-home", :style=>"color:white;"  %></li>
      <li class="mx-2"><%= link_to "About",  "/home/about", class:"fas fa-link", :style=>"color:white;"  %></li>
      <li class="mx-2"><%= link_to "sign up", new_user_registration_path, class:"fas fa-user-plus", :style=>"color:white;"  %></li>
      <li class="mx-2"><%= link_to "login", new_user_session_path, class:"fas fa-sign-in-alt", :style=>"color:white;"  %></li>
    <% end %>
    </ul>
    </div>
  </nav>
  <%= render 'layouts/search' %>
    <p id="notice"></p>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
  <footer>
    <p class="text-center">CopyRight Infratop.inc</p>
  </footer>
</html>
